server:
   port: 8081

spring:
  application:
    name: customers
  datasource:
     url: jdbc:h2:mem:customerdb
     driver-class-name: org.h2.Driver
     username: sa
     password: password	 
  h2:
    console:
       enabled: true
  jpa:
    hibernate:
       ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true
    sql:
      init:
        mode: always
    security:
         oauth2:
           resourceserver:
              jwt:
                issuer-uri: http//loaclhost:9000