spring:
   application:
      name: productservice
      
server:
  port: 8082
  
  
eureka:
  client:
    service-url:
       defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
  
management:
  endpoints:
     web:
       exposure:
          include: info,health,beans
  endpoint:
     info:
       enabled: true  
   

















